<!-- <p>debounce-time-distinct-until-changed works!</p>
<div>
<div class="col-md-6" >
    <strong><span class="text-primary">Debounce-time</span></strong>
    <input type="search" class="form-control rounded" placeholder="Search" #myInput />
    <strong *ngIf="result!=''">Result data:<span class="text-danger">{{result}}</span></strong>
</div>


<div class="col-md-6" >
    <strong><span class="text-danger">Distinct-until-changed</span></strong>
    <input type="search" class="form-control rounded" placeholder="Search" #myInput2 />
    <strong *ngIf="result2!=''">Result data:<span class="text-danger">{{result2}}</span></strong>
</div> -->
