  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Rxjs Series</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a routerLink="/app-tap">Tap Page </a></li>
        <li><a routerLink="/app-from">From Page </a></li>
        <li><a routerLink="/of-from">Of-from Page </a></li>
        <li><a routerLink="/to-array">to-array</a></li>
        <li><a routerLink="/custom-obs">Custom-obs</a></li>
        <li><a routerLink="/pluck">pluck</a></li>
        <li><a routerLink="/Todo-demo">Todo-demo</a></li>

      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
