<strong>replay-subject works!</strong>
<hr>
<strong><span class="center">Add Video</span></strong>
<button class="btn btn-success" (click)="toggleData()">Api Data</button>
<div class="row-justify-content center">
    <div class="row">
        <div class="col-md-4">
        <input type="text" class="form-control" #tempData>
        </div>
        <div class="col-md-3">
        <button class="btn btn-primary" (click)="addVideo(tempData)">Add Video</button>
        </div>
        <hr>
    </div>
 
    <div class="row">
    <div class="col-md-4">
        <strong>User 1</strong>
        <hr>
        <ul class="video-list" *ngFor="let item of userList1">
            <li>video:{{item}}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <strong>User 2</strong>
        <hr>
        <ul class="video-list text-success" *ngFor="let item of userList2">
            <li>video: {{item}}</li>
        </ul>
        <button class="btn"
        [ngClass]="btnSubmod1 ? 'btn-danger' : 'btn-success'" (click)="btnMod()">{{ btnSubmod1 ? 'UnSubscribe' : 'Subscribe' }}</button>
    </div>

    <div class="col-md-4">
        <strong>User 3</strong>
        <hr>
        <ul class="video-list text-danger" *ngFor="let item of userList3">
            <li>{{item}}</li>
        </ul>
        <button class="btn"
        [ngClass]="btnSubmod2 ? 'btn-danger' : 'btn-success'" (click)="btnMod2()">{{ btnSubmod2 ? 'UnSubscribe' : 'Subscribe' }}</button>
    </div>

    </div>  
</div>